<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:zkcore.properties</value>
            </list>
        </property>
    </bean>

    <beans default-autowire="byName">
        <bean id="scheduleManagerFactory"
              class="com.taobao.pamirs.schedule.strategy.TBScheduleManagerFactory"
        init-method="init">
            <property name="zkConfig">
                <map>
                    <entry key="zkConnectString" value="${schedule.zookeeper.address}"></entry>
                    <entry key="rootPath" value="${schedule.root.catalog}"></entry>
                    <entry key="zkSessionTimeout" value="${schedule.timeout}"></entry>
                    <entry key="userName" value="${schedule.username}"></entry>
                    <entry key="password" value="${schedule.password}"></entry>
                    <entry key="isCheckParentPath" value="true"></entry>
                </map>
            </property>

        </bean>

    </beans>

</beans>